'HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
.kotlin

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Java ###
bin/

### Mac ###
.DS_Store

logs/

# Certs
**/certs/
**/*.jks

.**env**