spring:
  main.web-application-type: servlet
  datasource:
    hikari:
      maximum-pool-size: 10
    url: "jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}?serverTimezone=${user.timezone}&useLegacyDatetimeCode=false&cacheDefaultTimezone=false"
    username: "${DB_USERNAME}"
    password: "${DB_PASSWORD}"
  jpa:
    properties:
      hibernate:
        javax:
          cache:
            missing_cache_strategy: create
        generate_statistics: false # debugging purposes
        cache:
          use_second_level_cache: true
          use_query_cache: true
          region:
            factory_class: org.hibernate.cache.jcache.JCacheRegionFactory # gradle dependency
      jakarta:
        persistence:
          sharedCache:
            mode: ENABLE_SELECTIVE  # need to explicitly add @Cacheable to Entity object
    hibernate:
      ddl-auto: validate
    open-in-view: false
  mvc:
    pathmatch:
      matching-strategy: ant-path-matcher # fixes spring-fox error on spring-boot >= v2.6
  threads.virtual.enabled: true

server:
  http2:
    enabled: true
  port: 9010
  servlet:
    contextPath: /api/v1
  compression:
    enabled: true
    mime-types: application/json
    min-response-size: 4096

auth:
  admin:
    username: "${ADMIN_USERNAME}"
    password: "${ADMIN_PASSWORD}"
  generic-user:
    username: "${GENERIC_USER_USERNAME}"
    password: "${GENERIC_USER_PASSWORD}"
---
spring:
  config:
    activate.on-profile: docker

server:
  port: 8080
  ssl:
    key-store: classpath:podcast-api.jks
    key-store-password: ${SSL_KEYSTORE_PASSWORD}
    key-alias: podcastapi