name: Build & JUnits

on:
  push:
    branches:
      - release
      - master
    tags:
      - v**
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize

jobs:
  build-and-junits:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2

      - name: Set up JDK
        uses: actions/setup-java@v5.2.0
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build API
        run: ./gradlew build

      - name: Upload Results
        uses: actions/upload-artifact@v7.0.0
        with:
          name: junit-results
          path: |
            build/reports/tests/test
            build/reports/jacoco/test